"*":
  autosave:
    enabled: true
  core:
    projectHome: "~/Sites"
    telemetryConsent: "no"
  editor:
    fontFamily: "Jetbrains Mono"
  "fuzzy-finder":
    preserveLastSearch: true
  "markdown-preview": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
  welcome:
    showOnStartup: false
