"*":
  autosave:
    enabled: true
  blame:
    gutterFormat: "{author} ({hash})"
  colornamer:
    format: "kebabcase"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    projectHome: "~/Sites"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
    titleBar: "custom-inset"
  docblockr:
    align_tags: "no"
    extra_tags: [
      ""
    ]
    lower_case_primitives: true
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    preserveLastSearch: true
  "git-control":
    noFastForward: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    experimental:
      useSplitDiff: true
    general:
      enableStatusBarIcon: false
      showFormat: "fuller"
  "git-projects":
    rootPath: "~/Sites"
    sortBy: "Latest modification date"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "svg-preview":
    openPreviewAutomatically: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".json.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
