immostreet:
  title: "Immostreet"
  paths: [
    "/Users/sp/Sites/clients/immostreet"
  ]
cerebral:
  title: "Cerebral"
  paths: [
    "/Users/sp/Sites/clients/hilfsangebote"
  ]
trainingsplaner:
  title: "Trainingsplaner"
  paths: [
    "/Users/sp/Sites/clients/trainingsplaner"
  ]
